<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap" rel="stylesheet">
    <title>MathFunk</title>
</head>
<body>
    <h1>MathFunk</h1>
    <div class="tech-stack">
        <div class="glass back1" onclick ="window.location.href = '/'" >Projects</div>
        <div class="glass back2" onclick ="window.location.href = '/EigenValuesNVectors'">
            <div>Eigen values </div>
            <div>N</div>
            <div>Vectors</div>
        </div>
        <div class="glass" onclick ="window.location.href = '/404'" >
            <div>Quadratic</div>
            <div>Equations</div>
        </div>
        <div class="glass" onclick ="window.location.href = '/QuadraticEquations'" >1</div>
        <div class="glass" onclick ="window.location.href = '/404'" >1</div>
        <div class="glass" onclick ="window.location.href = '/404'" >1</div>
    </div>
</body>
</html>